$white: #FFFFFF;
$main-light: #FFEFF6;
$anim_red: #D2132A;
$do_red1: #B10217;
$do_red2: #DD041F;
$violet: #2A0227;
$dark_violet: #170119;
$do_background: #170119;
$dark_text: #161415;
$yellow: #F9A608;
$shadow: rgba(97, 9, 8, 0.174088);
$shadow2: rgba(85, 9, 9, 0.320476);
$brown: #383030;
$label_pink: #643C5A;
$light_pink: #DA89C6;
$light_background: #ffecee;
$hover_background: #cc031c;