@import "_colors";
@import "_mixins";

.team{
  background: $light_background;
  padding: 3vh 4vw 22vh 4vw;
  position: relative;
  z-index: 12;

  & h2{
    margin-top: -8px;
    text-align: center;
    font-family: 'ArchivoBlack', sans-serif;
    @include fonts(700, 40px, 40px, $brown);
    text-transform: uppercase;

    @media screen and (max-width: 1200px){
      @include fonts(700, 30px, 30px, $brown);
    }

    @media screen and (max-width: 400px){
      @include fonts(700, 20px, 20px, $brown);
    }
  }

  & .slider_block{
    margin-top: 4%;
    height: calc(91% - 86px);
    @include display-flex(center, flex-start);
    position: relative;



    & .prev_block{
      width: 113px;
      padding-right: 3px;
      height: 74%;
      @include display-flex(flex-start);
    }

    & .next_block{
      width: 113px;
      padding-left: 3px;
      text-align: right;
      @include display-flex(flex-end);
      height: 74%;
    }

    & .prev, .next{
      width: 76px;
      height: 76px;
      border-radius: 50%;
      @include display-flex;
      @include fonts(700, 12px, 13px, $dark_text);
      text-transform: uppercase;
      cursor: pointer;
    }

    .border_slide{
      background: $anim_red;
      color: $white;
    }

    & .slider{
      width: calc(100% - 226px);
      height: 74%;

      position: relative;
      overflow: hidden;

      & .shift_block{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include display-flex;
        gap: 17px;
        transition: left 1s ease-in-out;
      }

      & .team_card{
        height: 100%;
        width: 263px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        &:hover .hover_block{
          opacity: .9;
        }

        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: 1;
        }

        .hover_block{
          opacity: 0;
          transition: opacity 1s ease-in-out;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(313.37deg, rgba(177, 2, 23, 0.9) 10.23%, rgba(221, 4, 31, 0.9) 69.59%);
          z-index: 2;
          @include display-flex;
          flex-direction: column;

          & h3{
            font-family: 'ArchivoBlack', sans-serif;
            @include fonts(700, 12px, 17px, $white);
            letter-spacing: 0.428571px;
            text-transform: uppercase;
          }

          & h4{
            margin-top: 10px;
            @include fonts(400, 12px, 13px, $white);
          }
        }
      }
    }

    & .note2{
      position: absolute;
      width: 15.7vw;
      top: -15%;
      right: 18%;
      filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
      transform: rotate(-15deg);
      z-index: 3;
    }

    & .red_boll{
      position: absolute;
      width: 11.2vw;
      bottom: 15%;
      left: 38px;
      filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
      z-index: 3;
    }

    & .bagel{
      position: absolute;
      width: 17vw;
      bottom: -96px;
      right: -15px;
      filter: drop-shadow(-24px 27px 17px rgba(181, 103, 7, 0.142401));
      z-index: 3;
    }

    @media screen and (max-width: 1200px){
      height: calc(91% - 84px);

      & .prev_block, .next_block{
        height: 90%;
      }

      & .slider{
        width: calc(100% - 226px);
        height: 90%;

        & .team_card{

          & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            object-position: center top;
            z-index: 1;
          }

          .hover_block{
            opacity: 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(313.37deg, rgba(177, 2, 23, 0.9) 10.23%, rgba(221, 4, 31, 0.9) 69.59%);
            z-index: 2;
            @include display-flex;
            flex-direction: column;

            & h3{
              font-family: 'ArchivoBlack', sans-serif;
              @include fonts(700, 12px, 17px, $white);
              letter-spacing: 0.428571px;
              text-transform: uppercase;
            }

            & h4{
              margin-top: 10px;
              @include fonts(400, 12px, 13px, $white);
            }
          }
        }
      }

      & .note2{
        position: absolute;
        width: 15.7vw;
        top: -15%;
        right: 18%;
        filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
        transform: rotate(-15deg);
        z-index: 3;
      }

      & .note2{
        position: absolute;
        width: 15.7vw;
        top: -15%;
        right: 18%;
        filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
        transform: rotate(-15deg);
        z-index: 3;
      }

      & .red_boll{
        position: absolute;
        width: 11.2vw;
        bottom: 15%;
        left: 38px;
        filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
        z-index: 3;
      }

      & .bagel{
        position: absolute;
        width: 17vw;
        bottom: -96px;
        right: -15px;
        filter: drop-shadow(-24px 27px 17px rgba(181, 103, 7, 0.142401));
        z-index: 3;
      }
    }

    @media screen and (max-width: 400px){
      height: calc(96% - 74px);

      & .prev_block, .next_block{
        display: none;
      }

      & .slider {
        width: 100%;
        height: 95%;
        overflow-x: scroll;
      }

      & .note2{
        position: absolute;
        width: 35vw;
        top: -5%;
        right: 18%;
      }


      & .red_boll{
        position: absolute;
        width: 22vw;
        bottom: 0;
        left: -30px;
      }

      & .bagel{
        position: absolute;
        width: 34vw;
        bottom: -8vh;
        right: -15px;
        filter: drop-shadow(-11px 14px 4px rgba(181, 103, 7, 0.142401));
        z-index: 3;
      }
    }
  }

  & footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    & .contact{
      height: 18.8vh;
      @include display-flex;
      background: $do_background;
      position: relative;

      &:hover{
        & .red_block{
          width: 100%;
        }

        & a{
          & img{
            transform: rotate(45deg);
          }
        }

      }

      & .red_block{
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        transition: all .5s ease-in-out;
        background-image: linear-gradient(313.37deg, $do_red1 10.23%, $do_red2 69.59%);
        z-index: 1;
      }

      & a{
        text-decoration: none;
        @include display-flex;
        gap: 12px;
        @include fonts(700, 32px, 46px, $white);
        cursor: pointer;
        position: relative;
        z-index: 2;

        & img{
          width: 28px;
          transition: all .5s ease-in-out;
        }
      }
    }

    & .made{
      padding: 9px 55px 6px;
      @include display-flex(space-between);
      background: $do_background;

      & .made_right{
        @include fonts(400, 14px, 26px, $white);
        mix-blend-mode: normal;
        opacity: 0.98;
      }

      & .made_left{
        @include display-flex;
        gap: 14px;
        @include fonts(700, 12px, 26px, $white);
        text-transform: uppercase;
      }
    }

    @media screen and (max-width: 800px){

      & .contact{
        height: 18.8vh;

        & a{
          gap: 8px;
          @include fonts(700, 18px, 24px, $white);

          & img{
            width: 18px;
          }
        }
      }

      .made{
        padding: 9px 55px 6px;
        @include display-flex(space-between);
        background: $do_background;

        & .made_right{
          @include fonts(400, 12px, 13px, $white);

        }

        & .made_left{
          gap: 14px;
          @include fonts(700, 8px, 13px, $white);

          & img{
            width: 12px;
          }
        }
      }
    }
  }
}