@import "_colors";
@import "_mixins";

.team{
  background: #ffecee;
  padding: 25px 3.8% 68px 3.8%;
  position: relative;

  & footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24%;
    background: #170119;

    & a{
      display: block;
      text-decoration: none;
      @include display-flex;
      gap: 12px;
      @include fonts(700, 32px, 46px, #FFFFFF);
      height: 78.5%;
      cursor: pointer;

      & img{
        width: 28px;
      }
    }


  }


}