@import "_colors";
@import "_mixins";

.clients {
  background: #ffecee;
  padding: 25px 3.8% 68px 3.8%;
  overflow: hidden;
  z-index: 11;

  & .content {
    width: 100%;
    height: 100%;

    margin-top: -47px;
    padding-top: 30px;
    @include display-flex(space-between, flex-start);
    gap: 8%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #ffecee;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #D2132A;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255,0,0,0.4);
    }

    & .content_left {
      width: 22%;
      top: 72px;
      position: sticky;

      & h2 {
        font-family: ArchivoBlack, sans-serif;
        @include fonts(700, 40px, 40px, #383030);
      }

      & p {
        margin-top: 22px;
        @include fonts(400, 16px, 26px, #643C5A);
        mix-blend-mode: normal;
        opacity: 0.5;
      }

      & a {
        margin-top: -9px;
        font-family: ArchivoBlack, sans-serif;
        @include fonts(400, 12px, 26px, #D2132A);
        letter-spacing: 0.428571px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    & .content_right {
      margin-right: 14.4%;
      width: 48%;
      position: relative;

      @include display-flex(center, flex-start);
      gap: 30px;

      .center {
        margin-top: 60px;
      }

      & .columns {
        width: calc((100% - 60px) / 3);
        @include display-flex(flex-start);
        flex-direction: column;
        gap: 47px;
        position: relative;


        & .wrapper {
          position: absolute;
          width: 100%;
          background: #cc031c;
          z-index: 2;
          opacity: 0;
          transition: all 1s ease-in-out;
          border-radius: 5px;
          padding: 33px 24px;

          & h3{
            font-family: 'ArchivoBlack', sans-serif;
            @include fonts(700, 12px, 17px, #FFFFFF);
            letter-spacing: 0.428571px;
            text-transform: uppercase;
            text-align: center;
          }

          & div{
            margin-top: 35px;
            font-family: 'ArchivoBlack', sans-serif;
            @include fonts(700, 20px, 17px, #FFFFFF);
            letter-spacing: 0.714286px;
            text-transform: uppercase;
            text-align: center;
          }

          & a{
            margin-top: 55px;
            @include display-flex;
            gap: 4px;
            @include fonts(400, 12px, 13px, #FFFFFF);
            text-decoration: none;

            & img{
              width: 12px;
            }
          }

          & .gear{
            position: absolute;
            width: 200px;
            left: calc(50% - 100px);
            top: calc(50% - 100px);
            mix-blend-mode: normal;
            opacity: 0.3;
            filter: drop-shadow(-17px 22px 12px rgba(85, 9, 9, 0.320476));
          }
        }


        & .card1 {
          width: 100%;
          position: relative;
          cursor: pointer;

          &:hover .wrapper {
            opacity: 1;
          }

          & .pic {
            width: 100%;
            object-fit: cover;
            margin-bottom: 12px;
            border-radius: 5px;
            position: relative;
            z-index: 1;
          }

          & span {
            position: relative;
            z-index: 1;
            @include fonts(400, 16px, 17px, #383030);
          }

          & .xl {
            height: 260px;
          }

          & .l {
            height: 243px;
          }

          & .m {
            height: 197px;
            object-position: 20% 50%;
          }
        }

        & .card2 {
          width: 100%;
          height: 272px;
          cursor: pointer;

          .dark {
            background: #000000;
          }
          .pink {
            background: #DA89C6;
          }

          & .container {
            width: 100%;
            height: 243px;
            border-radius: 5px;
            @include display-flex;
            margin-bottom: 12px;
            position: relative;

            &:hover .wrapper {
              opacity: 1;
            }

            & .full{
              height: 100%;
            }

            & .inner_img {
              max-width: 147px;
              height: 139px;
            }
          }

          & span {
            @include fonts(400, 16px, 17px, #383030);
          }
        }
      }

      & .yellow_boll {
        position: absolute;
        width: 137px;
        left: -76px;
        bottom: 76px;
        filter: drop-shadow(-24px 27px 17px rgba(128, 120, 110, 0.142401));
        z-index: 10;
      }

      & .bagel {
        position: absolute;
        width: 244px;
        left: -128px;
        top: -53px;
        filter: drop-shadow(-24px 27px 17px rgba(181, 103, 7, 0.142401));
        z-index: 10;
      }

      & .youtube2{
        position: absolute;
        width: 148px;
        right: -95px;
        top: 319px;
        filter: drop-shadow(-24px 27px 17px rgba(93, 50, 49, 0.0836975));
        z-index: 10;
      }

    }
  }

  @media screen and (max-width: 1200px){
    & .content {
      margin-top: 10px;
      padding-top: 0;
      gap: 4%;

      & .content_left {
        top: 32px;
      }

      & .content_right {
        margin-right: 0.4%;
        width: 66%;
        gap: 20px;

        .center {
          margin-top: 60px;
        }

        & .columns {
          width: calc((100% - 40px) / 3);
          gap: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 800px){

    padding: 8px 3% 40px 3%;

    & .content {

      & .content_left {
        width: 22%;
        top: 32px;
        position: sticky;

        & h2 {
          @include fonts(700, 18px, 20px, #383030);
        }

        & p {
          margin-top: 12px;
          @include fonts(400, 12px, 14px, #643C5A);
        }

        & a {
          @include fonts(400, 8px, 20px, #D2132A);
        }
      }

      & .content_right {
        margin-right: 0;
        width: 66.4%;

        @include display-flex(center, flex-start);
        gap: 10px;

        .center {
          margin-top: 20px;
        }

        & .columns {
          width: calc((100% - 20px) / 3);
          gap: 10px;

          & .wrapper {

            padding: 16px 12px;

            & h3{
              @include fonts(700, 8px, 12px, #FFFFFF);
            }

            & div{
              margin-top: 12px;
              @include fonts(700, 14px, 14px, #FFFFFF);
            }

            & a{
              margin-top: 20px;
              @include fonts(400, 8px, 12px, #FFFFFF);

              & img{
                width: 8px;
              }
            }

            & .gear{
              width: 100px;
              left: calc(50% - 50px);
              top: calc(50% - 50px);
            }
          }


          & .card1 {
            width: 100%;
            position: relative;
            cursor: pointer;
            text-align: center;

            &:hover .wrapper {
              display: block;
            }


            & span {
              @include fonts(400, 12px, 13px, #383030);
            }

            & .xl {
              height: 140px;
            }

            & .l {
              height: 120px;
            }

            & .m {
              height: 100px;
              object-position: 20% 50%;
            }
          }

          & .card2 {
            height: auto;

            & .container {
              height: 140px;


              & .inner_img {
                max-width: 60px;
                height: 80px;
              }
            }

            & span {
              @include fonts(400, 12px, 13px, #383030);
            }
          }
        }

        & .yellow_boll {
          width: 80px;
          left: -46px;
          bottom: 36px;
        }

        & .bagel {
          width: 120px;
          left: -60px;
          top: -15px;
        }

        & .youtube2{
          width: 80px;
          right: -25px;
          top: 219px;
        }

      }
    }
  }

  @media screen and (max-width: 400px){
    padding: 12px 3.8% 40px 3.8%;

    & .content {
      @include display-flex(flex-start);
      flex-direction: column;
      overflow: auto;

      & .content_left {
        width: 100%;
        top: 0;
        position: relative;
      }

      & .content_right {
        width: 100%;
        overflow: scroll;
        position: static;

        @include display-flex(flex-start);
        flex-direction: column;
        gap: 12px;
        padding-bottom: 40px;

        .center {
          margin-top: 0;
        }

        & .columns {
          width: 100%;
          @include display-flex(flex-start);
          flex-direction: column;
          gap: 12px;
          height: auto;

          & .wrapper {
             padding: 33px 24px;

            & h3{
              @include fonts(700, 12px, 17px, #FFFFFF);

            }

            & div{
              margin-top: 35px;
              @include fonts(700, 20px, 17px, #FFFFFF);
            }

            & a{
              margin-top: 55px;
              @include fonts(400, 12px, 13px, #FFFFFF);

              & img{
                width: 12px;
              }
            }

            & .gear{
              position: absolute;
              width: 150px;
              left: calc(50% - 75px);
              top: 43px;
              mix-blend-mode: normal;
              opacity: 0.3;
              filter: drop-shadow(-17px 22px 12px rgba(85, 9, 9, 0.320476));
            }
          }


          & .card1 {
            width: 100%;


            & span {
              position: relative;
              z-index: 1;
              @include fonts(400, 16px, 17px, #383030);
            }

            & .xl {
              height: 260px;
            }

            & .l {
              height: 243px;
            }

            & .m {
              height: 197px;
              object-position: 20% 50%;
            }
          }

          & .card2 {
            width: 100%;
            height: 272px;


            & .container {
              height: 243px;

              & .inner_img {
                max-width: 147px;
                height: 139px;
              }
            }

            & span {
              @include fonts(400, 16px, 17px, #383030);
            }
          }
        }

        & .yellow_boll {
          width: 97px;
          left: -36px;
          bottom: 20px;;
        }

        & .bagel {
          width: 150px;
          left: -50px;
          top: 130px;
        }

        & .youtube2{
          width: 128px;
          right: -35px;
          top: 319px;
        }
      }
    }
  }
}